<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h1>@PageTitle</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string PageTitle { get; set; } = "Page Heading";
}
