@page "/"
@rendermode InteractiveServer

@inject IActionsRepository _actionsRepository
<PageTitle> Cariad | Welcome</PageTitle>

<ScreenHeading PageTitle="Croeso Shaun"></ScreenHeading>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/cus01" class="button-primary">Create new customer</a>
            </div>
            <div class="col">
                <a href="#" class="button-secondary">Search Customer</a>
            </div>
        </div>
        <div class="row">
            <div class="col pt-4">
                <div class="form form-group content-wrap">
                    <h2 class="fw-bold">Actions</h2>

                    @if (_actions is null)
                    {
                        <div class="row">
                            <div class="col">
                                <p>
                                    No actions to display.
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <a href="#">view all</a>
                            </div>
                        </div>
                        <MudDataGrid Items="@_actions" Filterable="false" SortMode="@SortMode.None" Groupable="false">
                            <Columns>
                                <PropertyColumn Property="x => x.Title" />
                                <PropertyColumn Property="x => x.Description" />
                                <PropertyColumn Property="x => x.Author"/>
                                <PropertyColumn Property="x => x.Created"/>
                                <TemplateColumn CellClass="d-flex justify-end">
                                    <CellTemplate>
                                        <MudStack Row>
                                            <button type="button" class="button-secondary">Edit</button>
                                            <button type="button" class="button-primary">Complete</button>
                                        </MudStack>
                                    </CellTemplate>
                                </TemplateColumn>
                            </Columns>
                        </MudDataGrid>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private IEnumerable<Cariad.Domain.DTOs.User.ActionsDto> _actions = Enumerable.Empty<Cariad.Domain.DTOs.User.ActionsDto>();

    protected override async Task OnInitializedAsync()
    {
        _actions = await _actionsRepository.GetActionsAsync();
    }
}
