@import '../Utilities/_variables.scss';
@import '../Utilities/_mixins.scss';

.content-wrap {
    background: $white;
    border-radius: 16px;
    padding: 25px;
}

.color-dark-gray {color: $dark-grey;}
.color-light-gray {color: $light-grey;}