
$font-size-small: 0.9rem;
$font-size-base: 14px;
$font-size-large: 1.2rem;
$font-size-extra-large: 1.125rem;

$hero-size-main: 4.5rem;
$hero-size-sub: 2rem;

$screen-breakpoint-xs: 0;
$screen-breakpoint-sm: 576px;
$screen-breakpoint-md: 768px;
$screen-breakpoint-lg: 992px;
$screen-breakpoint-xl: 1200px;
$screen-breakpoint-xxl: 1400px;

$spacing-unit: 1rem;

$spacing-xxs: $spacing-unit * 0.25;
$spacing-xs: $spacing-unit * 0.5; 
$spacing-sm: $spacing-unit * 0.75;
$spacing-md: $spacing-unit * 1; 
$spacing-lg: $spacing-unit * 1.5;
$spacing-xl: $spacing-unit * 2; 
$spacing-xxl: $spacing-unit * 3;

$border: 1px solid #9EA1A6;
$cream: #f9f7f4; 
$dark-grey: #3D434E;
$green: #00614E;
$light-grey: #eeeeee;
$lime: #E5E44A;
$off-white: #f3f6f8;
$shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$white: white;